@import url('https://fonts.googleapis.com/css2?family=Georama:wght@200&display=swap');

body{
    background-color: #bee9e8;
    font-family: 'Georama';
    font-weight: bold;
    margin: 0;
    color: #1b4965;
}

.change_theme{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#arrow{
    width: 30px;
    height: 30px;
    padding: 10px;
}

#moon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.container{
    margin-top: 10em;
    display: grid;
    place-content: center;
}

#hero{
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
}

.navmenu > ul  {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}
.navmenu > ul > li{
    transition: transform 500ms;
}
.navmenu > ul > li > a{
    text-decoration: none;
    color: inherit;
    font-size: 25px;
}

li:hover{
    transform: scale(1.15);
}



.dark-mode{
    background: #1b4965;
    color: #bee9e8;
}

