@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');


body{
    background-color: #bee9e8;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    margin: 0;
    color: #1b4965;
}

.change_theme, .change-theme-about{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#arrow, #arrow-about{
    width: 30px;
    height: 30px;
    padding: 10px;
}

#moon, #moon-about{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.container{
    margin-top: 10em;
    display: grid;
    place-content: center;
}

#hero{
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
}

.navmenu-about, .navmenu{
    width: 650px;
}
.navmenu > ul, .navmenu-about > ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}
.navmenu > ul > li, .navmenu-about > ul > li{
    transition: transform 500ms;
}
.navmenu > ul > li > a, .navmenu-about > ul > li > a{
    text-decoration: none;
    color: inherit;
    font-size: 25px;
}

.navmenu > ul > li:hover, .navmenu-about > ul > li:hover{
    transform: scale(1.15);
}

.dark-mode{
    background: #1b4965;
    color: #bee9e8;
}

.header-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navmenu-about > ul{
    margin-left: 50px;
    width: 600px;

}

.navmenu-about > ul > li > a{
    font-size: 20px;
    margin-right: 40px;
}

.container-about-me{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

#about-me-header{
    margin: 20px 0 0 50px;
    font-size: 50px;
}

#about-me-body{
    margin: 20px 20px 0 50px;
    font-size: 20px;
    line-height: 1.4em;
}

#about-me-photo{
    width: 260px;
    height: auto;
    margin: 60px 40px 0 0;
    border-radius: 2%;
}

.container-contact{
    display: grid;
    place-items: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    width: 500px;
}

.contact-form > h1{
    margin: 20px 20px 0 40px;
}

#name, #email, #subject{
    width: 300px;
    height: 40px;
    margin: 20px 20px 0 40px;
    border-style: unset;
    background: #fafafa;
}

#message{
    width: 300px;
    margin: 20px 20px 0 40px;
    border-style: unset;
}

#send{
    width: 100px;
    height: 40px;
    margin: 20px 20px 0 40px;
    border-style: unset;
    background: #39945c;
    color: #fafafa;
    font-size: 16px;
    cursor: pointer;
  
}
::placeholder{
    font-family: 'Urbanist', open sans-serif;
}



